.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.company-banner {
  width: 100%;
  position: relative;
  align-content: center;
  margin: 0px 0px 100px 0px;
}
.home_header {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.heading_title {
  color: whitesmoke;
  font-size: 20px;
  align-self: center;
  font-weight: 700;
}

.searchField {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 500px;
  align-items: baseline;
  background-color: whitesmoke;
  margin: 550px 0px 0px 50px;
  border-radius: 20px;
  padding: 10px;
}
.container {
  position: absolute;
  top: 150px;
  left: calc(50% - 450px);
  width: 900px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.btn_profile {
  position: absolute;
  top: 10px;
  right: 10px;
  
}
.btn_search {
  width: 100px;
  height: auto;
  display: flex;
  margin: 10px;
  background-color: #52D017;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.btn_search:hover {
  background-color: #8C001A;
}

.jobDetailView {
  display: flex;
  z-index: 1;
}

.jobDetailsFull {
  display: flex;
  color: #f3f3f3;
}
.jobs {
  display: flex;
  width: 350px;
  border-width: thin;
  border-color: #282c34;
  height: auto;
  background-color: yellowgreen;
  justify-content: flex-start;
  margin: 20px 0px 10px 50px;
  border-radius: 10px;
  flex-direction: column;
  font-size: 18;

}

.jobs img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 350px;
  height: 150px;
}
.jobDetails {
  text-align: left;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.btns {
  display: flex;
  flex-direction: row;
  margin: 5px -10px 5px -10px;
}
.btn_Apply {
  width: auto;
  height: 30px;
  display: flex;
  margin: 10px;
  background-color: lightgreen;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 12px;
}

.btn_Cancel {
  width: auto;
  height: 30px;
  display: flex;
  margin: 10px;
  background-color: lightcoral;
  color: white;
  border: none;
  outline: none;
  font-size: 12px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid grey;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;

  position: absolute;
  left: 50%;
  top: 35%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
