.jobDetailCard {
  display: flex;
  flex-direction: column;
  background-color:yellowgreen;
  width: 100%;
  height: 600px;
  margin: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

}
.jobDetailsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
